.switch-field {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: $signup-radio-clip;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: $color-disabled;
    line-height: $signup-radio-label-height;
    text-align: center;
    padding: $signup-radio-label-padding;
    margin-right: -1px;
    border: $signup-radio-label-border;
    box-shadow: $signup-radio-box-shadow;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: $color-brand;
    color: $color-white;
    box-shadow: none;
}

.switch-field label:first-of-type {
    border-radius: $signup-radio-label-first-border-radius;
}

.switch-field label:last-of-type {
    border-radius: $signup-radio-label-last-border-radius;
}

@media (max-width: 425px) {
    .switch-field {
        flex-direction: column;
    }    
    .switch-field label {
        &:first-of-type {
            border-radius: $signup-radio-label-first-border-radius-sm;
        }
        &:last-of-type {
            border-radius: $signup-radio-label-last-border-radius-sm;
        }
    }
}