.user-profile__multiselect {
    width: $multiselect-width;
    &-tag {
        background-color: $color-brand;
    }
}
@media (max-width: 954px) {
    .user-profile__multiselect {
        width: $multiselect-width-sm;
    }   
}
@media (max-width: 425px) {
    .user-profile__multiselect {
        width: 100%;
    }   
}