.top-nav {
    @include shadow--small;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    height: $top-nav-height;
    align-items: center;
    justify-content: space-between;
    //overflow: hidden;
    background-color: $color-white;
    &__full {
        width: 100%;
    }
    &__reduced {        
        width: calc(100% - 100px);
    }
    &__left, &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__icon {
        width: $top-nav-icon-width;
        margin-left: $top-nav-elem-margin;
    }
    &__logo, &__profile-img {
        height: $top-nav-img-height ;
        margin-right: $top-nav-elem-margin;
        margin-top: 5px;
    }
    &__logo, &__right--user {
        margin-left: $top-nav-elem-margin;
    }
    &__right--user {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 576px) {
    #top-nav__name, .top-nav__logo {
        display: none;
    }
    
}