// anything to do with text and fonts

@import 'variables';
@import '_mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body,
.multiselect-input,
textarea {
    font-family: 'Source Sans Pro', sans-serif;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Noto Sans JP', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-dark;
}

button {
    font-size: $body-font-size;
}

.heading {
    font-size: $heading-font-size;
    font-weight: $semibold;
}

.subheading {
    font-size: $subheading-font-size;
    font-weight: $semibold;
}

.tagline {
    font-size: $tagline-font-size;
    font-weight: $normal;
    &--bold {
        font-weight: $semibold;
    }
}

.side-nav__group--header {
    font-size: $side-nav-font-size;
    font-weight: $semibold;
    color: $color-brand;
}
.side-nav__text {
    font-size: $side-nav-font-size;
    font-weight: $normal;
}

.body,
.multiselect-input,
textarea,
input {
    font-size: $body-font-size;
    font-weight: $normal;
}

.text {
    &--white {
        color: $color-white;
    }
    &--primary {
        color: $color-brand;
    }
    &--secondary {
        color: $color-dark;
    }
    &--accent {
        color: $color-light;
    }
    &--center {
        text-align: center;
    }
    &--capsule {
        @include shadow;
        padding: $capsule-padding;
        margin: $capsule-margin;
        background-image: linear-gradient(
            to right,
            $color-brand,
            $color-brand-alt
        );
        color: $color-white;
        border-radius: $capsule-border-radius;
        text-transform: lowercase;
    }
}
