// everything to do with margins and paddings

// padding for pages
.page-pad {
    padding: $spacer * 5;
}

.page-pad {
    padding: $spacer * 5;
}

// Margins
.mar{
    &--auto {
        margin: auto;
    }
    &--0 {
        margin: 0;
    }
    &--1 {
        margin: $spacer * 1;
    }
    &--2 {
        margin: $spacer * 2;
    }
    &--3 {
        margin: $spacer * 3;
    }
    &--4 {
        margin: $spacer * 4;
    }
    &--5 {
        margin: $spacer * 5;
    }
    &__t {
        &--auto {
            margin-top: auto;
        }
        &--0 {
            margin-top: 0;
        }
        &--1 {
            margin-top: $spacer * 1;
        }
        &--2 {
            margin-top: $spacer * 2;
        }
        &--3 {
            margin-top: $spacer * 3;
        }
        &--4 {
            margin-top: $spacer * 4;
        }
        &--5 {
            margin-top: $spacer * 5;
        }
    }
    &__b {
        &--auto {
            margin-bottom: auto;
        }
        &--0 {
            margin-bottom: 0;
        }
        &--1 {
            margin-bottom: $spacer * 1;
        }
        &--2 {
            margin-bottom: $spacer * 2;
        }
        &--3 {
            margin-bottom: $spacer * 3;
        }
        &--4 {
            margin-bottom: $spacer * 4;
        }
        &--5 {
            margin-bottom: $spacer * 5;
        }
    }
}

// Paddings
.pad {
    &--auto {
        padding: auto;
    }
    &--0 {
        padding: 0;
    }
    &--1 {
        padding: $spacer * 1;
    }
    &--2 {
        padding: $spacer * 2;
    }
    &--3 {
        padding: $spacer * 3;
    }
    &--4 {
        padding: $spacer * 4;
    }
    &--5 {
        padding: $spacer * 5;
    }
    &__t {
        &--auto {
            padding-top: auto;
        }
        &--0 {
            padding-top: 0;
        }
        &--1 {
            padding-top: $spacer * 1;
        }
        &--2 {
            padding-top: $spacer * 2;
        }
        &--3 {
            padding-top: $spacer * 3;
        }
        &--4 {
            padding-top: $spacer * 4;
        }
        &--5 {
            padding-top: $spacer * 5;
        }
    }
    &__b {
        &--auto {
            padding-bottom: auto;
        }
        &--0 {
            padding-bottom: 0;
        }
        &--1 {
            padding-bottom: $spacer * 1;
        }
        &--2 {
            padding-bottom: $spacer * 2;
        }
        &--3 {
            padding-bottom: $spacer * 3;
        }
        &--4 {
            padding-bottom: $spacer * 4;
        }
        &--5 {
            padding-bottom: $spacer * 5;
        }
    }
}