// everything to do with margins and paddings
@import './_variables';

// padding for pages
.page-pad {
    padding: $spacer * 5;

    // try this
    // if it is a smaller device then the page pad will be smaller value
    @media (max-width: $sm) {
        padding: $spacer * 2;
    }
}

// Margins
.mar {
    margin: $spacer * 0.5;
    &--auto {
        margin: auto;
    }
    &--0 {
        margin: 0;
    }
    &--1 {
        margin: $spacer * 1;
    }
    &--2 {
        margin: $spacer * 2;
    }
    &--3 {
        margin: $spacer * 3;
    }
    &--4 {
        margin: $spacer * 4;
    }
    &--5 {
        margin: $spacer * 5;
    }
    &__t {
        margin-top: $spacer * 0.5;
        &--auto {
            margin-top: auto;
        }
        &--0 {
            margin-top: 0;
        }
        &--1 {
            margin-top: $spacer * 1;
        }
        &--2 {
            margin-top: $spacer * 2;
        }
        &--3 {
            margin-top: $spacer * 3;
        }
        &--4 {
            margin-top: $spacer * 4;
        }
        &--5 {
            margin-top: $spacer * 5;
        }
    }
    &__b {
        margin-bottom: $spacer * 0.5;
        &--auto {
            margin-bottom: auto;
        }
        &--0 {
            margin-bottom: 0;
        }
        &--1 {
            margin-bottom: $spacer * 1;
        }
        &--2 {
            margin-bottom: $spacer * 2;
        }
        &--3 {
            margin-bottom: $spacer * 3;
        }
        &--4 {
            margin-bottom: $spacer * 4;
        }
        &--5 {
            margin-bottom: $spacer * 5;
        }
    }
    &__l {
        margin-left: $spacer * 0.5;
        &--auto {
            margin-left: auto;
        }
        &--0 {
            margin-left: 0;
        }
        &--1 {
            margin-left: $spacer * 1;
        }
        &--2 {
            margin-left: $spacer * 2;
        }
        &--3 {
            margin-left: $spacer * 3;
        }
        &--4 {
            margin-left: $spacer * 4;
        }
        &--5 {
            margin-left: $spacer * 5;
        }
    }
    &__r {
        margin-right: $spacer * 0.5;
        &--auto {
            margin-right: auto;
        }
        &--0 {
            margin-right: 0;
        }
        &--1 {
            margin-right: $spacer * 1;
        }
        &--2 {
            margin-right: $spacer * 2;
        }
        &--3 {
            margin-right: $spacer * 3;
        }
        &--4 {
            margin-right: $spacer * 4;
        }
        &--5 {
            margin-right: $spacer * 5;
        }
    }
}

// Paddings
.pad {
    padding: $spacer * 0.5;
    &--auto {
        padding: auto;
    }
    &--0 {
        padding: 0;
    }
    &--1 {
        padding: $spacer * 1;
    }
    &--2 {
        padding: $spacer * 2;
    }
    &--3 {
        padding: $spacer * 3;
    }
    &--4 {
        padding: $spacer * 4;
    }
    &--5 {
        padding: $spacer * 5;
    }
    &__t {
        padding-top: $spacer * 0.5;
        &--auto {
            padding-top: auto;
        }
        &--0 {
            padding-top: 0;
        }
        &--1 {
            padding-top: $spacer * 1;
        }
        &--2 {
            padding-top: $spacer * 2;
        }
        &--3 {
            padding-top: $spacer * 3;
        }
        &--4 {
            padding-top: $spacer * 4;
        }
        &--5 {
            padding-top: $spacer * 5;
        }
    }
    &__b {
        padding-bottom: $spacer * 0.5;
        &--auto {
            padding-bottom: auto;
        }
        &--0 {
            padding-bottom: 0;
        }
        &--1 {
            padding-bottom: $spacer * 1;
        }
        &--2 {
            padding-bottom: $spacer * 2;
        }
        &--3 {
            padding-bottom: $spacer * 3;
        }
        &--4 {
            padding-bottom: $spacer * 4;
        }
        &--5 {
            padding-bottom: $spacer * 5;
        }
    }
    &__l {
        padding-left: $spacer * 0.5;
        &--auto {
            padding-left: auto;
        }
        &--0 {
            padding-left: 0;
        }
        &--1 {
            padding-left: $spacer * 1;
        }
        &--2 {
            padding-left: $spacer * 2;
        }
        &--3 {
            padding-left: $spacer * 3;
        }
        &--4 {
            padding-left: $spacer * 4;
        }
        &--5 {
            padding-left: $spacer * 5;
        }
    }
    &__r {
        padding-right: $spacer * 0.5;
        &--auto {
            padding-right: auto;
        }
        &--0 {
            padding-right: 0;
        }
        &--1 {
            padding-right: $spacer * 1;
        }
        &--2 {
            padding-right: $spacer * 2;
        }
        &--3 {
            padding-right: $spacer * 3;
        }
        &--4 {
            padding-right: $spacer * 4;
        }
        &--5 {
            padding-right: $spacer * 5;
        }
    }
}
