@use "sass:math";
// find all static values stored here as variables

// Colors
$color-brand: #5986e1;
$color-brand-alt: #7450cb;
$color-dark: #464646;
$color-light: #8e8e8e;
$color-white: #ffffff;
$color-side-nav-bg: #f1f1f1;
$color-bg-hover: #dddbdb;
$color-disabled: #f1f1f1;

// behaviour
$transition-duration: 0.5s;
$transition-duration-fast: 0.2s;

// used to scale spacing in the app
$spacer: 10px;

// font size
$heading-font-size: 27px;
$subheading-font-size: 22px;
$tagline-font-size: 16px;
$side-nav-font-size: 14px;
$body-font-size: 18px;

// font weight
$thin: 200;
$normal: 400;
$semibold: 600;
$bold: 900;

/********** COMPONENTS **********/
$app-border-radius: 18px;
$app-border-radius-sm: 9px;

// button
$btn-padding: 8px 45px;
$btn-border-radius: 30px;

// round image
$round-img-width: 120px;

//squared image
$square-img-width: 250px;

// side nav
$side-nav-width: 160px;
$side-nav-group-padding: 15px 10px;
$side-nav-header-pad-l: 15px;
$side-nav-link-mar: 0 10px;
$side-nav-icon-width: 20px;
$side-nav-icon-mar-r: 10px;
$side-nav-group-bottom-mar-b: 10px;

// top nav
$top-nav-height: 60px;
$top-nav-icon-width: 25px;
$top-nav-img-height: math.div($top-nav-height, 1.5);
$top-nav-elem-margin: 20px;
$top-nav-bell-margin: 10px;

// profile card
$profile-card-width: 280px;
$star-icon-width: 15px;
$star-icon-margin-right: 5px;
$hand-icon-width: 30px;
$capsule-padding: 5px 15px;
$capsule-margin: 3px 5px;
$capsule-border-radius: 30px;
$social-icon-width: 25px;
$social-icon-margin: 0 10px;
$profile-card-left-right-margin: 5px;

// event card
$event-card-width: 280px;
$event-card-margin-top: -40px;
$event-card-heart-width: 25px;
$event-card-heart-right: 20px;
$event-card-link-bottom: 50px;
$event-card-date-bottom: 20px;
$event-card-left-right-margin: 5px;

// filter
$filter-div-width: 210px;
$filter-inputs-width: 85%;

// toggle
$toggle-height: 25px;
$toggle-width: 45px;
$toggle-margin-top: 5px;
$toggle-cicle-dimension: 17px;
$toggle-cicle-border-radius: 50%;

// feedback
$feedback-max-width: 650px;
$feedback-message-width: 96%;
$feedback-message-height: 100px;
$feedback-message-padding: 12px;

//about
$about-max-width: 800px;
$about-social-icon-width: 35px;
$about-social-icon-margin: 0 10px;

// signup radio button
$signup-radio-clip: rect(0, 0, 0, 0);
$signup-radio-label-height: 1;
$signup-radio-label-padding: 8px 16px;
$signup-radio-label-border: 1px solid rgba(0, 0, 0, 0.2);
$signup-radio-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px rgba(255, 255, 255, 0.1);
$signup-radio-label-first-border-radius: 4px 0 0 4px;
$signup-radio-label-last-border-radius: 0 4px 4px 0;
$signup-radio-label-first-border-radius-sm: 4px 4px 0 0;
$signup-radio-label-last-border-radius-sm: 0 0 4px 4px;

// multiselect
$multiselect-width: 460px;
$multiselect-width-sm: 320px;

// user menu
$user-menu-top: 105%;
$user-menu-right: 25px;
$user-menu-icon-width: 25px;
$user-menu-icon-margin-right: 10px;

//loader
$loader-position-ratio: 50%;
$loader-width-height: 80px;
$loader-margin: 8px;
$loader-border: 4px;
$loader-top-left: 36px;
$loader-changed-wh: 72px;
$loader-zeropx: 0px;
$loader-zero: 0;
$loader-one: 1;
$loader-delay: -0.5s;

// Not Found
$not-found-position-ratio: 50%;
$not-found-img-width: 150px;
$not-found-img-width-sm: 100px;
$not-found-img-padding-right: 40px;

// Under Maintenance
$under-maintenance-position-ratio: 50%;
$under-maintenance-img-width: 50%;
$under-maintenance-img-width-sm: 250px;
$under-maintenance-img-padding-right: 40px;

// Tag Input Styling
$tag-input-width: 100%;
$tag-input-border-radius: 1px;
$tag-input-min-height: 50px;
$tag-input-height: 50px;
$tag-input-padding: 0 10px;
$tag-input-tag-height: 30px;
$tag-input-tag-margin-right: 10px;
$tag-input-tag-line-height: 30px;
$tag-input-tag-padding: 0 5px;
$tag-input-tag-span-opacity: 0.75;
$tag-input-text-line-height: 50px;

// Star Rating Icon
$star-rating-icon-padding: 5px;

// breakpoints

//xs - smaller mobile phone
// sm - mobile phone
// md - tablets
// lg - desktop-screen/laptop
// xl - very large screen
// dxl - doubly very large screen
$xs: 24em;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 80em;
$dxl: 96em;
