// find all static values stored here as variables

// Colors
$color-brand: #5986E1;
$color-brand-alt: #7450CB;
$color-dark: #464646;
$color-light: #8E8E8E;
$color-white: #FFFFFF;
$color-side-nav-bg: #F1F1F1;
$color-bg-hover: #DDDBDB;
$color-disabled: #F1F1F1;

// behaviour
$transition-duration: 0.5s;
$transition-duration-fast: 0.2s;


// used to scale spacing in the app
$spacer: 10px;

// font size
$heading-font-size: 27px;
$subheading-font-size: 22px;
$tagline-font-size: 16px;
$side-nav-font-size: 13px;
$body-font-size: 18px;

// font weight
$thin: 200;
$normal: 400;
$semibold: 600;
$bold: 900;


/********** COMPONENTS **********/
$app-border-radius: 18px;

// button
$btn-padding: 5px 40px;
$btn-border-radius: 30px;

// round image
$round-img-width: 120px;

//squared image
$square-img-width: 250px;

// side nav
$side-nav-width: 100px;
$side-nav-group-padding: 15px 0;
$side-nav-text-width: 90%;
$side-nav-icon-width: 35px;
$side-nav-icon-mar-b: 5px;

// top nav
$top-nav-height: 60px;
$top-nav-icon-width: 25px;
$top-nav-img-height: $top-nav-height/1.7;
$top-nav-elem-margin: 20px;
$top-nav-bell-margin: 10px;

// profile card
$profile-card-width: 280px;
$star-icon-width: 15px;
$star-icon-margin-right: 5px;
$hand-icon-width: 30px;
$capsule-padding: 5px 15px;
$capsule-margin: 3px 5px;
$capsule-border-radius: 30px;
$social-icon-width: 25px;
$social-icon-margin: 0 10px;

// event card
$event-card-width : 280px;
$event-card-margin-top: -40px;
$event-card-heart-width: 25px;
$event-card-heart-right: 20px;
$event-card-date-bottom: 20px;


// filter
$filter-div-width: 210px;
$filter-inputs-width: 85%;

// toggle
$toggle-height: 25px;
$toggle-width: 45px;
$toggle-margin-top: 5px;
$toggle-cicle-dimension: 17px;
$toggle-cicle-border-radius: 50%;

// feedback
$feedback-max-width: 650px;
$feedback-message-width: 96%;
$feedback-message-height: 100px;
$feedback-message-padding: 12px;

//about
$about-max-width: 800px;
$about-social-icon-width: 35px;
$about-social-icon-margin: 0 10px;

// signup radio button
$signup-radio-clip: rect(0, 0, 0, 0);
$signup-radio-label-height: 1;
$signup-radio-label-padding: 8px 16px;
$signup-radio-label-border: 1px solid rgba(0, 0, 0, 0.2);
$signup-radio-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
$signup-radio-label-first-border-radius: 4px 0 0 4px;
$signup-radio-label-last-border-radius: 0 4px 4px 0;
$signup-radio-label-first-border-radius-sm: 4px 4px 0 0;
$signup-radio-label-last-border-radius-sm: 0 0 4px 4px;

// multiselect
$multiselect-width: 460px;
$multiselect-width-sm: 320px;

// user menu
$user-menu-top: 105%;
$user-menu-right: 25px;
$user-menu-icon-width: 25px;
$user-menu-icon-margin-right: 10px;

//loader
$loader-position-ratio:50%;
$loader-width-height: 80px;
$loader-margin: 8px;
$loader-border: 4px;
$loader-top-left: 36px;
$loader-changed-wh: 72px;
$loader-zeropx: 0px;
$loader-zero: 0;
$loader-one: 1;
$loader-delay: -0.5s;

// Not Found
$not-found-position-ratio: 50%;
$not-found-img-width: 150px;
$not-found-img-width-sm: 100px;
$not-found-img-padding-right: 40px;

// Under Maintenance
$under-maintenance-position-ratio: 50%;
$under-maintenance-img-width: 50%;
$under-maintenance-img-width-sm: 300px;
$under-maintenance-img-padding-right: 40px;
