@import '_font';
@import '_spacing';
@import '_variables';
@import '_mixins';
@import '_cursor';

* {
    margin: 0;
    transition: $transition-duration;
}

body {
    // Removes scroll bars
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-top: $top-nav-height;
    transition: padding-right 0s;   // to avoid the body content jump when displaying SweetAlert
}

::-webkit-scrollbar {
    display: none;
}


// prevent image selection
img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

// anchor tag styling
a{
    text-decoration: none;
    color:$color-dark;
}
a:visited{
    text-decoration: none;
    color:$color-dark;
}
#sidenav a {
    width: 100%;
}

// multiselect 
.multiselect-options {
    overflow-x: hidden;
}
